	.ipynb_checkpoints/*
	BSParams.par
	BSdata.dat
	BosonStar
	BosonStarStability.cbp
	BosonStarStability.depend
	BosonStarStability.layout
	BosonStars.dat
	BosonStarsSigma0.2.dat
	BosonStarsSigma0.25.dat
	BosonStarsSigma0.3.dat
	BosonStarsSigma0.4.dat
	Diagnostics.dat
	MiniBosonStars.dat
	SliceData.dat
	TangherliniDiagnostics.dat
	bin/*
	constraint_norms.dat
	constraint_normsCF=0.05.dat
	constraint_normsCF=0.1.dat
	constraint_normsCF=0.4.dat
	constraint_normsc1.dat
	constraint_normsc2.dat
	constraint_normsd1.dat
	constraint_normsd2.dat
	constraint_normsl1.dat
	constraint_normso1.5.dat
	constraint_normso2.dat
	conv.dat
	ftransf.dat
	isotropic.dat
	obj/*
	update_boundaries
	*.dat
